@charset "ISO-8859-1";


body {
	font: normal 12px Arial;
}
#esquerda {
	margin-left: 10px;
	float:left;
	width: 205px;
	background-color: #EDD;
	padding: 5px;
	border-radius: 15px;
	-moz-border-radius: 15px;	
}

#esquerda > ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

#esquerda > ul > li {
	height: 20px;
	padding: 5px;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

#esquerda > ul > li:nth-child(even) {
	background-color: #FEE;
}

#esquerda > ul > li:hover {
	background-color: #E0D0D0;
}

#esquerda > ul > li > a {
	text-decoration: none;
	color: #000;
	text-shadow: 1px 1px 1px #DDD;
}

#esquerda > ul > li > a:hover {
	color: #555;
}
#direita {
	float: right;
	background-color: #DDE;
	padding: 10px;
}

#rodape {
	background-color: #333;
	color: #FFF;
	height: 30px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#333) );
    background-image: -moz-linear-gradient(  top, #999, #333 );
    border-top: 1px solid #777;
    text-shadow: 1px 1px 1px #000;
}
.forty-percent {
     width: 40%;
}

.sixty-percent {
     width: 60%;
}

.top-alignment {
     vertical-align: top;
}

table {
	width: 70%
}

tr>th {
	background-color: #DDD;
}

tr.linha1>td {
	background-color: #AAA;
}

tr.linha2>td {
	background-color: #FFF;
}
